:root {
  --main-bg-color: #222;
  --main-text-color: #ddd;
  --header-height: 4rem;
}

*, * *, * * * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 200ms ease;
  margin: 1rem;
}

button:hover {
  outline: 2px solid green;
  background-color: rgb(255, 219, 151);
}

main {
  margin: 1rem;
}

header {
  background-color: black;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.item-list-entry {
  position: relative;
  border: 1px solid black;
  padding: 1rem;
  min-width: 20rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.item-list-entry > div:first-child {
  font-size: 150%;
  font-weight: bold;
}
.item-list-entry > div:nth-child(3) {
  font-style: italic;
}
.item-list-entry > div:last-child {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  font-size: 75%;
  color: gray;
}